@model IEnumerable<ChargeBackCalculation.Models.ComplaintRegister>
@{ ViewBag.Title = "Index"; }

<h2>Index</h2>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">

        <li class="nav-item" style="text-align:right">
            @Html.ActionLink("Logout", "LogOut", "ComplaintRegisters", null, new { @class = "nav-link" })
        </li>
    </ul>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankAccountNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankBranch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChargeBackAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfTransaction)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Days)
            </th>*@
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CustomerId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BankAccountNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BankBranch)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ChargeBackAmount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Reason)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateOfTransaction)
    </td>

    @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>*@
</tr>
}

</table>