@model ChargeBackCalculation.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankBranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankBranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableBalance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
